/* Category.css */

/* .full-page {
    min-height: 100%;
} */

/* .row {
    flex-wrap: nowrap;
} */

/* .side-nav {
    flex: 0 0 250px;
    background-color: rgb(109, 7, 7);
    height: 100%;
    width: 100%;
} */

/* .col-md-9,
.col-lg-10 {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .card-form {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 
.card-header,
.card-footer {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 15px;
}

.card-header {
    border-bottom: none;
    margin-bottom: 15px;
}

.fs-5 {
    font-size: 1.5rem;
    margin: 0;
}

.card-body .form-label {
    font-weight: bold;
}

.card-footer {
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
} */