/* .product-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    cursor: pointer;
} */

.product-card:hover {
  transform: scale(1.05);
}

.left-container {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.right-container {
  flex: 1;
  padding-left: 1rem;
}

.right-container h5 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.right-container p {
  margin: 0.5rem 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.quantity-control span {
  margin: 0 0.5rem;
}

.quantity-btn {
  border: none;
  background-color: #d29062;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.price span {
  margin-right: 0.5rem;
}

.price-text {
  color: #d29062;
}

.add-to-cart-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #d29062;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #d29062;
}
